<div class="container-full">
  <div class="left-side">
    <mat-card class="cardLogin">
      <div class="header">
        <span>Login</span>
      </div>

      <mat-card-content class="pdd-btt">
        <form [formGroup]="formLogin" (ngSubmit)="initSesion()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="off">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="off">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-raised-button style="font-family: 'PT Serif', serif;" class="full-width custom-button"
            type="submit" [disabled]="formLogin.invalid">
            <mat-icon matSuffix>login</mat-icon> Login
          </button>
        </form>
      </mat-card-content>

      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="right-side">
    <div class="color-side">
      <p>MoviesTest</p>
    </div>
  </div>
</div>